<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="/static/js/app.js"></script>
    <title>Tic Tac Toe</title>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">
        <div class="row">
            <div class="col-xs-12 text-center">
            <h1>Tic-Tac-Toe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <div id="loading-screen" ng-show="loading || new_game"></div>
                    <table class="board">
                        <tr ng-repeat="row in [0,1,2]">
                            <td ng-repeat="col in [0,1,2]" class="cell" ng-click="click(row, col)" ng-disabled="game_over"
                                ng-class="{ 'inactive': board[row][col] != ' ' || game_over, 'winning': winning[row][col] }" ng-bind="board[row][col]"></td>
                        </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="row" style="height: 10px"></div>
        <div class="row">
            <div class="col-md-offset-4 col-md-3 col-sm-8 col-xs-8 right-padding">
                <h4 class="pull-right right-padding"><strong>Your score:</strong> <span ng-bind="score_player"></span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-3 col-sm-8 col-xs-8 right-padding">
                <h4 class="pull-right right-padding"><strong>Computer's score:</strong> <span ng-bind="score_computer"></span></h4>
            </div>
        </div>
        <div class="row" style="height: 10px">
            <div class="col-xs-12 text-center">
                <img ng-show="loading" id="loader" src="/static/img/ajax-loader.gif">
            </div>
        </div>
        <div ng-show="! new_game">
            <div class="row" style="height: 15px"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-info btn-lg" ng-click="restart()" ng-disabled="new_game">Start Over</button>
                </div>
            </div>
            <div class="row" style="height: 20px"></div>
        </div>
        <div ng-show="new_game">
            <div class="row" style="height: 60px">
                <div class="col-xs-12 text-center">
                    <h3>Do you want to start?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-lg choice pull-right" ng-click="player_goes_first()">Yes</button>
                </div>
                <div class="col-xs-6 pull-left">
                    <button type="button" class="btn btn-primary btn-lg choice" ng-click="computer_goes_first()">No</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 ng-bind="message"></h3>
            </div>
        </div>
    </div>
</body>
</html>